<!-- <div class="form-group mt-3">
  
 
</div> -->
<div class="row my-3">
  <div class="col-lg-6">
    <form ngForm>
      <div class="row">
          <label class="col-lg-2 mt-2 font-weight-bold">Sort By: </label>
        <div class="col">
          <select class="custom-select" [(ngModel)]="selectedPrimarySort" name="sortfeild" (click)="getBeerlist()">
            <option [value]="sort.value" *ngFor="let sort of sorts">{{sort.name}}</option>
          </select>
        </div>
        <div class="col">
          <select class="custom-select" [(ngModel)]="secondsort" name="secondsort" (click)="getBeerlist()">
            <ng-container *ngFor="let sort of sorts">
              <option [value]="sort.value" *ngIf="sort.value !== selectedPrimarySort">{{sort.name}}</option>
            </ng-container>
          </select>
        </div>
      </div>
    </form>
  </div>

  <div class="col-lg-6">
    <form name="searchform" ngForm (ngSubmit)="handlesearch()" class="form-inline">
      <div class="form-group">
        <label class="font-weight-bold">Search:</label>
        <input type="search" [(ngModel)]="search" name="search" class="form-control ml-1">
      </div>
      <button class="btn btn-success ml-3">Search</button>
    </form>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Brewery Name</th>
      <th>Brewery Type</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Phone</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let beer of beerList" (click)="getbeerDetails(beer.id)">
      <td>{{beer.name}}</td>
      <td>{{beer.brewery_type}}</td>
      <td>{{beer.street}}</td>
      <td>{{beer.city}}</td>
      <td>{{beer.state}}</td>
      <td>{{beer.country}}</td>
      <td>{{beer.phone}}</td>
    </tr>
  </tbody>

</table>