<div class="form-group row mt-3">
  <label class="col-1 font-weight-bold">Sort By: </label>
  <div class="col-2">
    <form ngForm>
      <select class="custom-select" [(ngModel)]="selectedPrimarySort" name="sortfeild" (click)="getBeerlist()">
        <option [value]="sort.value" *ngFor="let sort of sorts">{{sort.name}}</option>
      </select>
    </form>
  </div>
  <div class="col-2">
    <form ngForm>
      <select class="custom-select" [(ngModel)]="secondsort" name="secondsort" (click)="getBeerlist()">
        <ng-container *ngFor="let sort of sorts">
          <option [value]="sort.value" *ngIf="sort.value !== selectedPrimarySort">{{sort.name}}</option>
        </ng-container>
      </select>
    </form>
  </div>
</div>
<div class="col-md-3">
  <form name="searchform" ngForm (ngSubmit)="handlesearch()">
    <div class="form-group">
      <label class="font-weight-bold">Search: </label>
      <input type="search" [(ngModel)]="search" name="search" class="form-control">
    </div>
    <button class="btn btn-success">Search</button>
  </form>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Brewery Name</th>
      <th>Brewery Type</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Phone</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let beer of beerList" (click)="getbeerDetails(beer.id)">
      <td>{{beer.name}}</td>
      <td>{{beer.brewery_type}}</td>
      <td>{{beer.street}}</td>
      <td>{{beer.city}}</td>
      <td>{{beer.state}}</td>
      <td>{{beer.country}}</td>
      <td>{{beer.phone}}</td>
    </tr>
  </tbody>

</table>