<div class="row mt-5">
  <div class="col-md-6 offset-md-5">
    <p><span>BreweryName:</span> <b> {{beerDetails.name}}</b></p>
    <p><span>BreweryType:</span> <b> {{beerDetails.brewery_type}}</b></p>
    <p><span>Street:</span> <b> {{beerDetails.street}}</b></p>
    <p><span>City:</span> <b> {{beerDetails.city}}</b></p>
    <p><span>PostalCode:</span> <b> {{beerDetails.postal_code}}</b></p>
    <p><span>Country:</span> <b> {{beerDetails.country}}</b></p>
    <p><span>Phone:</span> <b> {{beerDetails.phone}}</b></p>
    <p><span>Updated:</span><b>{{beerDetails.updated_at | date: 'hh:mm'}}</b></p>
  
  </div>
</div>